{% extends "base.html" %}

{% block content %}
  <h2>Проект: {{ project.title }}</h2>
  <p>{{ project.description }}</p>
  <p><strong>Создатель:</strong> {{ project.created_by.username }}</p>
  <p><strong>Дата создания:</strong> {{ project.created_at }}</p>

  <h3>Задачи</h3>
  <ul>
    {% for task in tasks %}
      <li>
        {{ task.title }} - {{ task.description }}
        {% if task.is_completed %}
          <span style="color: green;">(Завершено)</span>
        {% else %}
          <span style="color: red;">(Не завершено)</span>
          {% if request.user.role in "MANAGER ADMIN" or task.assigned_to == request.user %}
            <a href="{% url 'task_complete' task.id %}">Отметить как выполненное</a>
          {% endif %}
        {% endif %}
      </li>
    {% empty %}
      <li>Задачи отсутствуют.</li>
    {% endfor %}
  </ul>

  {% if request.user.role in "ADMIN MANAGER" %}
    <a href="{% url 'task_create' project.id %}">Добавить задачу</a>
  {% endif %}
{% endblock %}
